table{
    width: 100%;
    border-collapse: collapse;
    }
    
td, th, caption{
    border: 5px solid black;
}   

th{
    font-size: 1.8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    text-transform: uppercase;
}

caption{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
border-bottom: 0;
font-size: 3rem;
}

thead, caption{
background-color: rgba(240, 248, 255, 0.777);
text-transform: uppercase;
}


table tbody td{
font-size: 1.3rem;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


table tbody tr:nth-child(even){
background-color: rgba(34, 161, 153, 0.777);
}

table tbody tr{
&:hover {
background-color: rgb(205, 103, 103);
}
}